h1{
    color: #fc0808;
}
button{
}

.book-item{
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.book-item button{
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}